@tailwind base;
@tailwind components;
@tailwind utilities;

div.markdownx-preview * {
    all: revert !important;
}

@media (prefers-color-scheme: dark) {

    input#id_username,
    input#id_password,
    input#id_password1,
    input#id_password2,
    input#id_name,
    input#id_email,
    input#id_pic,
    textarea#id_comment,
    textarea#id_content,
    textarea#id_description {
        color: black;
    }

    .markdownx-preview a {
        color: #bae6fd !important;
        text-decoration: underline;
    }

    .markdownx-preview a:hover {
        color: white !important;
        text-decoration: underline;
    }
}

input#id_username,
input#id_password,
input#id_password1,
input#id_password2,
input#id_name,
input#id_email,
input#id_pic,
textarea#id_comment,
textarea#id_description {
    width: 80%;
    border-radius: 0.5em;
}

textarea#id_content {
    height: 100%;
    border-radius: 0.5em;
    padding-top: 1.5em;
}

textarea#id_description {
    height: 4.5em;
}

textarea#id_comment {
    width: 100%;
    height: 2em;
}

@media (max-width: 768px) {

    textarea#id_comment,
    textarea#id_content {
        width: 100%;
    }
}

.markdownx-preview {
    overflow: scroll
}



.scroller {
    scrollbar-color: rebeccapurple green;
    scrollbar-width: 10px;
}
