{% load comments %}
{% load mptt_tags %}
{% load bleach_tags %}
{% render_comment_form for object %}
{% get_comment_list for object as comments %}
{% if comments %}
    {% recursetree comments %}
    <div class="mx-2 px-2 border-l-4 w-full">
        <div>
            <a name="{{ node.id }}"></a>
            <p class="overflow-scroll">{{ node.comment | bleach }}</p>
            <div class="font-extralight group">
                By <a class="cursor-pointer hover:underline overflow-ellipsis"
    href="{{ node.user.profile.get_absolute_url | bleach_linkify }}">{{ node.user }}</a>
                {{ node.submit_date|timesince }} ago
                <a class="invisible group-hover:visible"
                   href="{{ object.get_absolute_url | bleach_linkify }}#c{{ node.id }}">#link</a>
            </div>
            {# recursion! children of a given comment #}
            {% render_comment_form for object %}
            {% if not node.is_leaf_node %}{{ children }}{% endif %}
        </div>
    </div>
{% endrecursetree %}
{% endif %}
