{% load static %}
{% load tailwind_tags %}
{% block extrahead %}
    <link rel="shortcut icon"
          href="{% static 'images/pt-logo-360px-blackbg.png' %}"/>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% tailwind_css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <title>Pressn't</title>
    </head>
    <body class="dark:bg-slate-700 dark:text-sky-50 bg-sky-50 flex justify-center">
        <div class="max-w-5xl flex-1">
            <a href="{% url 'home' %}">
                <div class="sm:visible max-sm:hidden">
                    <img width="150px"
                         height="75px"
                         alt="logo"
                         class="mt-3 ml-5 absolute dark:invisible"
                         src="{% static 'images/pt-logo-full.png' %}"/>
                    <img width="150px"
                         height="75px"
                         alt="logo"
                         class="mt-5 ml-5 absolute invisible dark:visible"
                         src="{% static 'images/pt-logo-full-whitetxt.png' %}"/>
                </div>
                <div class="max-sm:visible sm:hidden">
                    <img width="75px"
                         height="75px"
                         alt="logo"
                         class="mt-3 ml-5 absolute dark:invisible"
                         src="{% static 'images/pt-logo-360px.png' %}"/>
                    <img width="75px"
                         height="75px"
                         alt="logo"
                         class="mt-5 ml-5 absolute invisible dark:visible"
                         src="{% static 'images/pt-logo-360px-whitetxt.png' %}"/>
                </div>
            </a>
            <nav class="flex justify-center p-10">
                <ul class="flex space-x-2 align-middle">
                    <li class="md:visible invisible">
                        <a href="{% url 'home' %}"
                           class="px-5 py-5 underline underline-offset-1 align-middle hover:text-sky-500 dark:hover:text-sky-400">Home</a>
                    </li>
                    {% if not request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'register' %}"
                               class="align-middle bg-slate-900 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-white font-semibold h-7 px-6 rounded-lg w-full flex items-center justify-center sm:w-auto dark:bg-sky-500 dark:highlight-white/20 dark:hover:bg-sky-400 max-sm:px-2">Join Now</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}"
                               class="px-5 py-5 underline underline-offset-1 align-middle hover:text-sky-500 dark:hover:text-sky-400">Login</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'user-post-detail' %}"
                               class="align-middle bg-slate-900 hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-white font-semibold h-7 px-6 rounded-lg w-full flex items-center justify-center sm:w-auto dark:bg-sky-500 dark:highlight-white/20 dark:hover:bg-sky-400">Your Post</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}"
                               class="px-5 py-5 underline underline-offset-1 align-middle hover:text-sky-500 dark:hover:text-sky-400">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <main class="flex  max-x-[99vw] justify-center">
                {% block content %}
                {% endblock content %}
            </main>
        </div>
    </body>
    <footer class="fixed inset-x-0 bottom-0 text-sm">
        <p>Pressn't - by Daniel Valenzuela</p>
    </footer>
</html>
